<div class="primary">
  <div class="vocab content" (click)="hideReadingAndMeaning(); cs.cycleVocab()">
    <div class="word">{{cs.currentVocab.kanji}}</div>
    <div class="chapter">({{cs.currentVocab.chapter}})</div>
    <div class="reading deets"> <p  [hidden]="readingHidden">{{cs.currentVocab.reading}}</p></div>
    <div class="meaningVocab deets"><p [hidden]="meaningHidden">{{cs.currentVocab.meaning}}</p></div>
  </div>
  <div class="controls">
    <div class="control" (click)="toggleReadingVisibility()">読み方</div>
    <div class="control" (click)="summonListMenu()">リスト</div>
    <div class="control" (click)="toggleMeaningVisibility()">意味</div>
  </div>
  <div class="grammar content" (click)="cs.cycleGrammar()">
    <div class="word">{{cs.currentGrammar.grammar}}<br>({{cs.currentGrammar.chapter}}.{{cs.currentGrammar.point}})</div>
  </div>
</div>
